page-home {
    .toolbar-background-md {
        background: #488aff;
        color: #fff;
    }
    .toolbar-title-md {
        color: #fff;
    }
    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
        color: #fff;
    }
}